@import "../../app.scss";

.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include mobile {
    height: 500px;
    pedding-top: 100px;
  }

  h1 {
    font-size: var(--ultra-big-text);
    z-index: 3;
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .stars {
    background-repeat: repeat;
    background-image: url("/stars.png");
    background-position: bottom;
    width: 500%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
