@import "../../app.scss";

.container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @include short_or_mobile {
    height: 600px;
  }

  h1 {
    font-size: var(--ultra-big-text);
    z-index: 3;

    @include tablet {
      font-size: calc(var(--ultra-big-text) + 1rem);
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .planets {
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

    @include mobile {
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include tablet {
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 200px;
    }
  }

  .stars {
    background-repeat: repeat;
    background-image: url("/stars.png");
    background-position: bottom;
    width: 500%;
    height: 100%;
    position: absolute;
    z-index: 1;

    @include mobile {
      height: 80%;
      align-self: flex-end;
    }
  }

  .skillsStars {
    @include mobile {
      height: 100%;
    }
  }
}
