@import "../../app.scss";

.container {
  display: flex;
  background: var(--dark-medium-gradient);
  justify-content: center;

  @include mobile {
    padding: var(--side-padding);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 30px;
    max-width: var(--desktop-max-width);

    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: calc(var(--ultra-big-text) + 1rem);
        font-weight: 300;
        user-select: none;
        line-height: 1.2;

        @include mobile {
          font-size: var(--ultra-big-text);
        }

        span {
          font-weight: 600;
          color: var(--orange);
        }
      }
    }

    .listContainer {
      display: flex;
      justify-content: center;

      @include mobile {
        flex-direction: column;
      }

      .box {
        flex: 1;
        color: var(--white);
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        flex-direction: column;
        gap: 20px;

        border: 1px solid var(--white);
        border-left: none;

        @include mobile {
          border: 1px solid var(--white);
          border-top: none;
          max-width: 250px;
        }

        &:first-of-type {
          border: 1px solid var(--white);
        }

        h2 {
          font-size: var(--medium-text);
        }

        p {
          color: var(--gray);
          font-size: var(--small-text);
          bottom: 10px;
        }
      }
    }
  }
}
