.container {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  gap: 50px;

  .titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 96px;
      font-weight: 300;
      user-select: none;
      line-height: 1.2;

      span {
        font-weight: 600;
        color: orange;
      }
    }
  }

  .listContainer {
    padding: 37.5px;
    padding-top: 0px;
    padding-bottom: 25px;
    display: flex;
    max-width: 1366px;
    justify-content: center;

    .box {
      flex: 1;
      color: white;
      padding: 40px;
      border: 0.5px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      position: relative;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 25px;
      }

      p {
        color: gray;
        font-size: 15px;
        bottom: 10px;
      }
    }
  }
}
