.container {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  position: relative;

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 96px;
      font-weight: 300;
      user-select: none;
      line-height: 1.2;

      span {
        font-weight: 600;
        color: orange;
      }
    }

    .title {
      display: flex;
      gap: 30px;
      align-items: center;

      a {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 80px;
        border-radius: 5px;
        background-color: #ffa500;
        border: none;
        font-size: 23px;
        font-weight: 500;
      }
    }
  }

  .listContainer {
    padding: 37.5px;
    padding-top: 0px;
    padding-bottom: 25px;
    flex: 2;
    display: flex;
    align-items: flex-start;
    max-width: 1366px;
    margin: auto;

    .box {
      color: white;
      padding: 50px;
      border: 0.5px solid white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
