.button {
  padding: 20px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  position: relative;
  color: black;

  p {
    font-weight: 500;
    font-size: 18px;
  }

  .errorMessage {
    position: absolute;
  }
}
