.container {
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
      padding: 15px;
      background-color: transparent;
      border: 1px solid var(--white);
      color: var(--white);
      border-radius: var(--border-radius);
      font-size: calc(var(--regular-text) - 0.2rem);
    }
  }
}
