@import "../../app.scss";

.container {
  height: calc(100vh - var(--navbar-height));
  background: var(--dark-medium-gradient);
  position: relative;
  overflow: hidden;

  .textWrapper {
    position: relative;
    z-index: 2;
    padding: 0 var(--desktop-side-padding);
    max-width: var(--desktop-max-width);
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    @include mobile {
      align-items: center;
    }

    h2 {
      font-size: var(--big-text);
      color: var(--orange);
      letter-spacing: 10px;
      user-select: none;
    }

    h1 {
      font-size: var(--ultra-big-text);
      user-select: none;

      @include mobile {
        text-align: center;
      }

      span {
        color: var(--orange);
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      a {
        padding: 20px;
        border: 1px solid var(--white);
        border-radius: var(--border-radius);
        background-color: transparent;
        color: var(--white);
        font-weight: 500;
        cursor: pointer;
        font-size: var(--extra-small-text);
      }
    }

    img {
      width: 50px;

      @include mobile {
        display: none;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: var(--giant-text-color);
    font-weight: bold;
    z-index: 0;
    user-select: none;

    @include mobile {
      font-size: 30vh;
      bottom: -50px;
    }
  }
}
