.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    padding: 0 37.5px;
    max-width: 1366px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .imageContainer {
      flex: 1;

      height: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        border-radius: 16px;
        max-width: 100%;
        max-height: 100%;
      }
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .headers {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h2 {
          font-size: 50px;
          line-height: 1;
        }

        h3 {
          font-size: 40px;
          color: orange;
        }

        p {
          font-size: 20px;
          color: white;
        }
      }

      .descriptions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
          color: gray;
          font-size: 20px;
        }
      }

      .skills {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          border: 1px solid white;
          padding: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}
