@import "../../app.scss";

.container {
  background-color: var(--medium-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    padding-top: var(--side-padding);
    padding-bottom: var(--side-padding);
  }

  .content {
    max-width: var(--desktop-max-width);
    display: flex;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      gap: var(--side-padding);
      width: 100%;
    }

    .division {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      border: 1px solid var(--white);
      padding: 60px;
      gap: 40px;

      @include mobile {
        gap: 20px;
        padding: 30px;
      }

      .imageContainer {
        height: 70px;
        background-color: var(--white);
        border-radius: 50%;
        padding: 15px;

        img {
          height: 100%;
        }
      }

      .h1Container {
        display: flex;
        align-items: center;
        height: 80px;

        @include mobile {
          height: auto;
        }

        h1 {
          font-size: var(--big-text);
          text-align: center;
        }
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        p {
          font-size: var(--regular-text);
          border-radius: var(--border-radius);
          width: 150px;
          text-align: center;
        }
      }
    }
  }
}
