@import "../../app.scss";

.modal {
  width: clamp(50%, 700px, 90%);
  max-height: 70%;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  gap: 30px;
  overflow-y: auto;

  @include mobile {
    max-height: 100%;
  }

  .buttonContainer {
    position: absolute;
    right: 30px;
    top: 30px;
    bottom: 0;

    button {
      top: 0px;
      position: sticky;
      background-color: white;
      border: none;
      padding: 5px;
      border-radius: 5px;

      .icon {
        color: rgb(128, 128, 128);
      }
    }
  }
}
