@import "../../../app.scss";

.links {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  a {
    font-weight: 400;
    font-size: var(--big-text);
  }
}
