@import "../../../app.scss";

.phoneSvg {
  stroke: var(--orange);
  position: absolute;
  z-index: -1;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include short_or_mobile {
    display: none;
  }

  svg {
    stroke: var(--orange);
    stroke-width: 0.3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    height: 100%;
  }
}
