@import "../../../app.scss";

.phoneSvg {
  stroke: var(--orange);
  position: absolute;
  margin: auto;
  z-index: -1;

  @include mobile {
    display: none;
  }

  svg {
    stroke: var(--orange);
    stroke-width: 0.3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}
