.navbar {
  height: 100px;

  .wrapper {
    padding: 0 100px;
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
      font-size: 20px;
    }

    img {
      display: block;
      width: 25px;
    }
  }
}
