.navbar {
  height: 100px;

  .wrapper {
    padding: 0 100px;
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      margin-left: 50px;
      font-weight: bold;
      font-size: 20px;
    }

    .links {
      display: flex;
      gap: 10px;
      background-color: white;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 10px;

      img {
        display: block;
        width: 25px;
      }
    }
  }
}
