.navbar {
  height: 100px;

  .wrapper {
    padding: 0 50px;
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;

    .alignmentDiv {
      flex: 1;
    }

    span {
      font-weight: bold;
      font-size: 20px;
    }

    a {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      img {
        display: block;
        width: 25px;
      }
    }
  }
}
