.sidebar {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  position: relative;

  .background {
    // needed so the sidebar doesn't pop in when the page loads
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: white;
  }
}
