@import "../../app.scss";

.container {
  height: auto;
  position: relative;

  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 10px;
    text-align: center;
    font-size: var(--big-text);
    color: var(--orange);

    @include short_or_mobile {
      position: relative;
      padding-top: var(--side-padding);
    }

    .progressBar {
      height: 10px;
      background-color: var(--white);

      @include short_or_mobile {
        display: none;
      }
    }
  }

  @include short_or_mobile {
    .experiences {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      section {
        padding: var(--side-padding);
      }

      section:nth-child(even) {
        background-color: var(--medium-blue);
      }

      section:nth-child(odd) {
        background-color: var(--dark-blue);
      }
    }
  }
}
