@font-face {
  font-family: "DM Sans";
  src: url("fonts/dm-sans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("fonts/dm-sans-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("fonts/dm-sans-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("fonts/dm-sans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --extra-small-text: 0.85rem;
  --small-text: 1rem;
  --regular-text: 1.2rem;
  --medium-text: 1.5rem;
  --big-text: 2rem;
  --extra-big-text: 3rem;
  --ultra-big-text: 5rem;

  --orange: #ffa500;
  --gray: #808080;
  --light-gray: #dadada;
  --white: #eaeaea;
  --black: #121212;
  --red: #ff0000;
  --dark-blue: #0c0c1d;
  --medium-blue: #111132;
  --light-blue: #505064;
  --giant-text-color: #ffffff09;
  --backdrop-color: #000000e1;

  --dark-medium-gradient: linear-gradient(180deg, #0c0c1d, #111132);
  --medium-dark-gradient: linear-gradient(180deg, #111132, #0c0c1d);

  --section-vertical-padding: 50px;
  --side-padding: 37.5px;

  --desktop-max-width: 1366px;
  --navbar-height: 100px;

  --border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  height: 100vh;
  scroll-snap-align: center;
  padding: 0 var(--side-padding);
}

button {
  cursor: pointer;
}

@mixin desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) and (min-width: 769px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin short {
  @media (max-height: 730px) {
    @content;
  }
}

@mixin short_or_mobile {
  @media (max-height: 730px) or (max-width: 768px) {
    @content;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  :root {
    --extra-small-text: 0.85rem;
    --small-text: 1rem;
    --regular-text: 1.1rem;
    --medium-text: 1.35rem;
    --big-text: 1.75rem;
    --extra-big-text: 2.5rem;
    --ultra-big-text: 4rem;
  }
}

@media (max-width: 768px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  section {
    height: auto;
    scroll-snap-align: none;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  :root {
    --extra-small-text: 0.85rem;
    --small-text: 1rem;
    --regular-text: 1.1rem;
    --medium-text: 1.2rem;
    --big-text: 1.5rem;
    --extra-big-text: 2rem;
    --ultra-big-text: 3rem;
  }
}

@media (max-height: 730px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  section {
    height: auto;
    scroll-snap-align: none;
  }
}
