$small-text: 1rem;
$medium-text: 1.25rem;
$big-text: 2rem;
$extra-big-text: 3rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  height: 100dvh;
  scroll-snap-align: center;
}

button {
  cursor: pointer;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
