:root {
  --extra-small-text: 0.85rem;
  --small-text: 1rem;
  --regular-text: 1.2rem;
  --medium-text: 1.5rem;
  --big-text: 2rem;
  --extra-big-text: 3rem;
  --ultra-big-text: 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

button {
  cursor: pointer;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@media (max-width: 1024px) {
  :root {
    --extra-small-text: 0.85rem;
    --small-text: 1rem;
    --medium-text: 1.25rem;
    --big-text: 2rem;
    --extra-big-text: 5rem;
  }
}

@media (max-width: 738px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  section {
    scroll-snap-align: none;
  }

  #projects,
  #skills {
    height: auto;
  }

  #skills {
    background-color: #111132;
    padding-top: 100px;
  }

  #skills + section {
    height: auto;
  }

  :root {
    --extra-small-text: 0.85rem;
    --small-text: 1rem;
    --regular-text: 1.1rem;
    --medium-text: 1.2rem;
    --big-text: 1.5rem;
    --extra-big-text: 2rem;
    --ultra-big-text: 3rem;
  }
}
