@import "../../app.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--medium-dark-gradient);
  flex-direction: column;
  gap: 40px;

  .headers {
    display: flex;
    flex-direction: column;

    @include mobile {
      gap: 10px;
    }

    h1 {
      text-align: center;
      font-size: var(--extra-big-text);
      color: var(--orange);
    }

    h2 {
      font-size: var(--big-text);
      text-align: center;
    }
  }

  .smallTextContainer {
    text-align: center;
    font-weight: 500;
    font-size: var(--regular-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  img {
    height: 70px;

    @include mobile {
      height: 50px;
    }
  }
}
